@import "src/variables";

.ComingSoonPlaceholder {
    background: rgba(243, 242, 242, 0.53);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(173, 173, 173, 0.53);

    @media screen and (min-width: $media1024) {
        width: 84px;
        height: 24px;
        font-size: 9px;
        line-height: 12px;
        margin-left: 14px;
    }

    @media screen and (min-width: $media1440) {
        width: 96px;
        height: 25px;
        font-size: 10px;
        line-height: 14px;
        margin-left: 14px;
    }

    @media screen and (min-width: $media1920) {
        width: 113px;
        height: 29px;
        font-size: 12px;
        line-height: 16px;
        margin-left: 20px;
    }
}
