@import 'src/variables';

.TestnetPlaceholder {
    @media screen and (min-width: $media375) {
        background: #fffcf5;
    }

    @media screen and (min-width: $media1024) {
        background: inherit;
    }

    &__Header {
        display: flex;
        align-items: center;

        span {
            color: #636363;

            @media screen and (min-width: $media375) {
                font-size: 16px;
                line-height: 21px;
                margin-left: 20px;
            }

            @media screen and (min-width: $media1440) {
                font-size: 16px;
                line-height: 22px;
                margin-left: 0;
            }

            @media screen and (min-width: $media1920) {
                font-size: 18px;
                line-height: 25px;
            }
        }

        .TestnetLabel {
            @media screen and (min-width: $media375) {
                margin-left: 23px;
                width: 136px;
                height: 29px;
            }

            @media screen and (min-width: $media1024) {
                margin-left: 23px;
                width: 115px;
                height: 22px;
            }

            @media screen and (min-width: $media1920) {
                margin-left: 23px;
                width: 138px;
                height: 29px;
            }

            span {
                @media screen and (min-width: $media375) {
                    font-size: 12px;
                    line-height: 16px;
                    margin-left: 0;
                }

                @media screen and (min-width: $media1024) {
                    font-size: 10px;
                    line-height: 14px;
                }

                @media screen and (min-width: $media1920) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            svg {
                @media screen and (min-width: $media375) {
                    width: 11.2px;
                    height: 11.2px;
                    margin-right: 10px;
                }

                @media screen and (min-width: $media1024) {
                    width: 9.5px;
                    height: 9.5px;
                    margin-right: 7px;
                }

                @media screen and (min-width: $media1920) {
                    width: 13px;
                    height: 13px;
                    margin-right: 10px;
                }
            }
        }
    }

    &__Content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (min-width: $media375) {
            background: linear-gradient(262.84deg, #fff9f3 -27.39%, #fff8ef 71.59%);
            margin: 20px 20px 0 20px;
        }

        @media screen and (min-width: $media1024) {
            background: inherit;
            margin: 0;
        }

        h1 {
            color: #636363;
            text-align: center;

            @media screen and (min-width: $media375) {
                font-size: 20px;
                line-height: 27px;
            }

            @media screen and (min-width: $media1024) {
                font-size: 23px;
                line-height: 31px;
                width: 318px;
            }

            @media screen and (min-width: $media1920) {
                font-size: 30px;
                line-height: 41px;
                width: 415px;
            }
        }

        a,
        .soon {
            text-decoration: none;
            text-align: center;
            color: #636363;

            @media screen and (min-width: $media1024) {
                font-size: 14px;
                line-height: 19px;
                margin-top: 18px;
            }

            @media screen and (min-width: $media1920) {
                font-size: 18px;
                line-height: 25px;
                margin-top: 20px;
            }
        }

        img {
            @media screen and (min-width: $media1024) {
                margin-top: 44px;
            }
        }

        &__Logo {
            @media screen and (min-width: $media375) {
                margin-top: 44px;
                margin-bottom: 20px;
                width: 119px;
                height: 17px;
            }

            @media screen and (min-width: $media1024) {
                margin-top: 44px;
                margin-bottom: 20px;
                width: 119px;
                height: 17px;
            }

            @media screen and (min-width: $media1920) {
                margin-top: 44px;
                margin-bottom: 28px;
                width: 150px;
                height: 22px;
            }
        }

        &__Placeholder {
            @media screen and (min-width: $media375) {
                width: 296px;
                height: auto;
            }

            @media screen and (min-width: $media1024) {
                width: 315px;
                height: auto;
            }
        }
    }
}
