@import 'src/variables';

.DirectAction {
    display: flex;
    align-items: center;

    @media screen and (min-width: $media375) {
    }

    @media screen and (min-width: $media1440) {
        margin-left: 15px;
    }

    @media screen and (min-width: $media1920) {
        margin-left: 35px;
    }

    input[type='checkbox'] {
        @media screen and (min-width: $media375) {
            width: 21px;
            height: 21px;
            margin: 0 0 0 23px;
        }

        @media screen and (min-width: $media1024) {
            width: 17px;
            height: 17px;
            margin: 0 0 0 14px;
        }

        @media screen and (min-width: $media1440) {
            width: 21px;
            height: 21px;
            margin: 0 0 0 10px;
        }
    }

    span {
        color: #636363;

        @media screen and (min-width: $media375) {
            margin: 0 12px 0 12px;
            font-size: 12px;
            line-height: 16px;
        }

        @media screen and (min-width: $media1024) {
            margin: 0 7px 0 7px;
            font-size: 10px;
            line-height: 14px;
        }

        @media screen and (min-width: $media1440) {
            margin: 0 12px 0 12px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    svg {
        @media screen and (min-width: $media375) {
            margin-top: -2px;
            width: 15px;
            height: 15px;
            margin-left: 10px;
        }

        @media screen and (min-width: $media1440) {
            margin-top: 0;
            width: 15px;
            height: 15px;
            margin-left: 0;
        }
    }
}
