@import 'src/variables';

.Input {
    background: #fffaf3;
    border: 1px solid #f4efe1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    @media screen and (min-width: $media375) {
        width: 100%;
        height: 82px;
        margin-bottom: 11px;
    }

    @media screen and (min-width: $media1024) {
        margin-bottom: 12px;
        width: 257px;
        height: 55px;
    }

    @media screen and (min-width: $media1440) {
        margin-bottom: 15px;
        width: 484px;
        height: 54px;
    }

    @media screen and (min-width: $media1920) {
        margin-bottom: 18.7px;
        width: 543px;
        height: 64px;
    }

    img {
        @media screen and (min-width: $media375) {
            width: 23px;
            height: 23px;
            margin-left: 13.9px;
            margin-right: 8px;
            position: static;
        }

        @media screen and (min-width: $media1024) {
            width: 18px;
            height: 18px;
            margin-left: 13.9px;
            margin-right: 8px;
            position: static;
        }

        @media screen and (min-width: $media1440) {
            width: 23px;
            height: 23px;
            margin-left: 16px;
            margin-right: 10px;
        }

        @media screen and (min-width: $media1920) {
            width: 26px;
            height: 26px;
            margin-left: 25px;
            margin-right: 10px;
        }
    }

    .coinName {
        color: #636363;

        @media screen and (min-width: $media375) {
            font-size: 12px;
            line-height: 16px;
            width: 63px;
            position: static;
        }

        @media screen and (min-width: $media1024) {
            font-size: 11px;
            line-height: 15px;
            width: 63px;
            position: static;
        }

        @media screen and (min-width: $media1440) {
            font-size: 12px;
            line-height: 16px;
            width: 80px;
        }

        @media screen and (min-width: $media1920) {
            font-size: 14px;
            line-height: 19px;
            width: 80px;
        }
    }

    .divider {
        background-color: #f4efe1;

        @media screen and (min-width: $media375) {
            height: 21px;
            width: 1px;
            position: static;
        }

        @media screen and (min-width: $media1024) {
            height: 21px;
            width: 1px;
            position: static;
        }

        @media screen and (min-width: $media1440) {
            height: 28px;
            width: 2px;
        }
    }

    .max {
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #f95404;
        color: #f95404;
        cursor: pointer;

        &:hover {
            background-color: #f95404;
            color: #fff;
        }

        @media screen and (min-width: $media375) {
            margin-left: 20px;
            font-size: 10px;
            line-height: 14px;
            width: 35px;
            height: 17px;
            position: static;
        }

        @media screen and (min-width: $media1024) {
            margin-left: 20px;
            font-size: 9px;
            line-height: 12px;
            width: 29px;
            height: 14px;
            position: static;
        }

        @media screen and (min-width: $media1440) {
            margin-left: 19px;
            font-size: 10px;
            line-height: 14px;
            width: 35px;
            height: 17px;
        }

        @media screen and (min-width: $media1920) {
            margin-left: 19px;
            font-size: 12px;
            line-height: 16px;
            width: 39px;
            height: 20px;
        }
    }

    .balance {
        color: #f95404;

        @media screen and (min-width: $media375) {
            display: none;
        }

        @media screen and (min-width: $media1024) {
            display: none;
        }

        @media screen and (min-width: $media1440) {
            display: block;
            font-size: 12px;
            line-height: 16px;
            margin-left: 10px;
            width: 77px;
        }

        @media screen and (min-width: $media1920) {
            font-size: 14px;
            line-height: 19px;
            margin-left: 10px;
            width: 120px;
        }
    }

    input {
        background: #fffaf3;
        border: 1px solid #f4efe1;
        box-sizing: border-box;
        border-radius: 5px;
        color: #636363;

        @media screen and (min-width: $media375) {
            font-size: 11px;
            line-height: 15px;
            padding-left: 8px;
            width: calc(100% - 200px);
            height: 30px;
            margin-left: 14px;
            position: static;
        }

        @media screen and (min-width: $media1024) {
            font-size: 11px;
            line-height: 15px;
            padding-left: 8px;
            width: 72px;
            height: 30px;
            margin-left: 14px;
            position: static;
        }

        @media screen and (min-width: $media1440) {
            font-size: 14px;
            line-height: 19px;
            padding-left: 15px;
            width: 173px;
            height: 29px;
            margin-left: 17px;
        }

        @media screen and (min-width: $media1920) {
            padding-left: 15px;
            width: 175px;
            height: 33px;
            margin-left: 17px;
        }
    }
}
