@import 'src/variables';

.WithdrawOptions {
    background: #fffaf3;
    border: 1px solid #f4efe1;
    border-radius: 5px;

    @media screen and (min-width: $media375) {
        flex-basis: 100%;
        padding: 20px;
        font-size: 14px;
        line-height: 13.6px;
        margin-top: 20px;
    }

    @media screen and (min-width: $media1024) {
        min-width: 270px;
        width: 270px;
        height: 251px;
        margin-left: 10px;
        padding: 17px 18px;
        font-size: 11px;
        line-height: 15px;
        flex-basis: auto;
        margin-top: 0;
    }

    @media screen and (min-width: $media1440) {
        min-width: 367px;
        width: 367px;
        height: 283px;
        margin-left: 25px;
        padding: 30px 25px;
        font-size: 12px;
        line-height: 16px;
    }

    @media screen and (min-width: $media1920) {
        min-width: 412px;
        width: 435px;
        height: 334px;
        margin-left: 25px;
        padding: 32px 28px;
        font-size: 14px;
        line-height: 19px;
    }

    &__BalanceBlock {
        .balance {
            color: $primary-color;
            margin-left: 5px;
        }
    }

    &__LiquidityBlock {
        @media screen and (min-width: $media375) {
            margin-top: 15px;
        }

        @media screen and (min-width: $media1024) {
            margin-top: 31px;
        }

        @media screen and (min-width: $media1440) {
            margin-top: 30px;
        }

        @media screen and (min-width: $media1920) {
            margin-top: 25px;
        }

        input[type='text'],
        input[type='number'] {
            display: block;
            background: #fffaf3;
            border: 1px solid #f4efe1;
            border-radius: 5px;
            color: #636363;

            &:disabled {
                background: #ededed;
            }

            @media screen and (min-width: $media375) {
                padding: 4px 8px;
                margin-top: 12px;
                font-size: 14px;
                line-height: 13px;
                height: 35px;
                width: 109px;
            }

            @media screen and (min-width: $media1024) {
                padding: 4px 8px;
                margin-top: 13px;
                font-size: 11px;
                line-height: 15px;
                height: 30px;
                width: 67px;
            }

            @media screen and (min-width: $media1440) {
                padding: 6px 12px;
                margin-top: 10px;
                font-size: 14px;
            }

            @media screen and (min-width: $media1920) {
                padding: 6px 12px;
                margin-top: 10px;
                font-size: 14px;
                line-height: 19px;
                height: 34px;
                width: 193px;
            }
        }
    }

    &__CoinsBlock {
        @media screen and (min-width: $media375) {
            margin-top: 20px;
        }

        @media screen and (min-width: $media1024) {
            margin-top: 23px;
        }

        @media screen and (min-width: $media1440) {
            margin-top: 25px;
        }

        @media screen and (min-width: $media1920) {
            margin-top: 25px;
        }

        .coins {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @media screen and (min-width: $media375) {
                margin-top: 10px;
            }

            @media screen and (min-width: $media1024) {
                margin-top: 10px;
            }

            @media screen and (min-width: $media1440) {
                margin-top: 0;
            }
        }

        .coin {
            display: flex;
            align-items: center;

            @media screen and (min-width: $media375) {
                width: 100%;
                margin-top: 10px;
            }

            @media screen and (min-width: $media1024) {
                width: 50%;
                margin-top: 10px;
            }

            @media screen and (min-width: $media1440) {
                width: 50%;
                margin-top: 10px;
            }

            @media screen and (min-width: $media1920) {
                width: 50%;
                margin-top: 22px;
            }

            input[type='radio'] {
                margin-right: 10px;
            }

            input[type='checkbox'] input[type='radio'],
            img {
                @media screen and (min-width: $media375) {
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;
                }

                @media screen and (min-width: $media1024) {
                    width: 17px;
                    height: 17px;
                    margin-right: 7px;
                }

                @media screen and (min-width: $media1440) {
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }

                @media screen and (min-width: $media1920) {
                    width: 21px;
                    height: 21px;
                    margin-right: 10px;
                }
            }

            &.all-coins {
                img {
                    @media screen and (min-width: $media1024) {
                        width: auto;
                        height: 13px;
                    }

                    @media screen and (min-width: $media1440) {
                        width: auto;
                        height: 25px;
                    }

                    @media screen and (min-width: $media1920) {
                        width: auto;
                        height: 21px;
                    }
                }
            }
        }
    }
}
